@font-face {
  font-family: 'cairo-bold';
  src: url(/assets/fonts/Cairo-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cairo-light';
  src: url(/assets/fonts/Cairo-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cairo-medium';
  src: url(/assets/fonts/Cairo-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cairo-regular';
  src: url(/assets/fonts/Cairo-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url(/assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(/assets/fonts/Roboto-Condensed.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
